.email{
	border-right: 1px solid white;
}
.customermadat{
	border-radius: 50px;
}
.nav-link{
	color: white !important;
	margin-left: 20px;
	font-weight: bold;
}
.carousel-item{
	width: 100%;
	height: 500px;
}
.fa-coins {
	font-size: 40px;
}
.rupee1{
	font-size: 40px;
}
.fa-plane-departure{
	font-size: 40px;
}
.fa-circle-user{
	font-size: 40px;
}
.c1{
	box-shadow: 0px 0px 10px 0px black;
}
.aboutus_img{
	width: 70%;
	height: 300px;
	border: 5px solid white;
}
.btn_abus{
	border-radius: 20px;
	padding: 10px;
	border: transparent;
	width: 20%;
}
.smile1{
	font-size: 60px;
	color: white;
	text-align: center;
	margin-top: 10px;
	float: left;
}
.clock {
	font-size: 60px;
	color: white;
	text-align: center;
	margin-top: 10px;
	float: left;
}
.c2_area{
	width: 100px;
	height: 100px;
	background-color:lightpink;
	border-radius: 30px;
	border: 1px solid cyan;
	margin-bottom: 50px;
	margin-left: 100px;
	animation-name: border_ani;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-iteration-count: 100;
	animation-timing-function: ease;
	
}
@keyframes border_ani{
	0%{border-top-left-radius: 50px;}
	25%{border-top-right-radius: 50px;}
	50%{border-bottom-right-radius: 50px; }
	75%{border-bottom-left-radius: 50px;}
	100%{border-top-left-radius: 50px;}
}

@media(max-width:667px){
	.c2_area{
		margin-left: 100px;
	}
}
.c2{
	font-size: 50px;
	color:darkcyan; 
	margin-top: 20px;
}
.c2_border{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 0px 2px 0px;
	
}
.space{
	font-size: 50px;
}
.btn_arj{
	border-radius: 50px;
	margin-top: 10px;
}
.c4{
	box-shadow: 0px 0px 2px 0px;
}

}
.paha{
	width: 60px;
	border-radius: 20px;
	font-style: bold;
}

.ifsc{
	font-size: 20px;
	text-shadow: white 50;
	font-weight: bold;
}
.last_emo_d{
	border-radius: 50px;
	background-color: white;
	height: 30px;
	width: 30px;
	float: right;
}
.last_emo{
	width: 30px;
	height: 30px;
}
.sticy_div{
	width: 50px;
	height: 50px;
	float: right;
	margin-bottom: 10px;
	margin-left: 95%;
	background-color: lightblue;
	text-align: center;
	position: sticky;
	
}
.sticky_emo{
	font-size: 40px;
	color: white;	
	position: sticky;
	
}


.card_emo3{
	font-size: 50px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	
}
@media(max-width:667px){
	.carousel-item{
	height: 200px;
}
}


@media(max-width:667px){
	.aboutus_img{
		width: 90%;
	}
}
.social_media{

	list-style-type: none;
	position: fixed;
	font-size: 40px;
	margin-top: 250px;
	margin-left: 93%;
	z-index: 99999999999909;
}
.bg_area{
	height: 50px;
	width: 50px;
	color: white;
	text-align: center;
}
@media(max-width:667px){
	.social_media{
		display:none;
	}
}
